# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# VSCode
.vscode/settings.json

# specific files
/scratch/test.tmp
/launcher/log/*
/scripts/trions.npy
/scripts/out.npy
/scripts/my_data.npy
/scripts/check_output.ipynb
/scripts/data2.npy
/scripts/data1.npy
/scripts/compare.ipynb
/scratch/io/test.csv
/scratch/ni/*.npz
*.h5
*.vi
scratch/neaspec/data/M1A.gsf
scratch/neaspec/data/M1A.txt
scratch/neaspec/data/M1P.gsf
scratch/neaspec/data/M1P.txt
scratch/neaspec/data/O0A.gsf
scratch/neaspec/data/O0A.txt
scratch/neaspec/data/O2A.gsf
scratch/neaspec/data/O2A.txt
scratch/neaspec/data/O2P.gsf
scratch/neaspec/data/O2P.txt
scratch/neaspec/data/Z.gsf
scratch/neaspec/data/Z.txt
scratch/neaspec/step_approach_000.npz
scratch/neaspec/step_approach_001.npz
scratch/neaspec/step_approach_002.npz
scratch/neaspec/step_approach_003.npz
scratch/neaspec/step_approach_004.npz
scratch/neaspec/step_approach_005.npz
scratch/neaspec/step_approach_006.npz
scratch/neaspec/step_approach_007.npz
scratch/neaspec/step_approach_008.npz
scratch/neaspec/step_approach_009.npz
scratch/neaspec/step_approach_010.npz
scratch/neaspec/step_approach_011.npz
scratch/neaspec/step_approach_012.npz
scratch/neaspec/step_approach_013.npz
scratch/neaspec/step_approach_014.npz
scratch/neaspec/step_approach_015.npz
scratch/neaspec/step_approach_016.npz
scratch/neaspec/step_approach_017.npz
scratch/neaspec/step_approach_018.npz
scratch/neaspec/step_approach_019.npz
scratch/neaspec/step_approach_020.npz
scratch/neaspec/step_approach_021.npz
scratch/neaspec/step_approach_022.npz
scratch/neaspec/step_approach_023.npz
scratch/neaspec/step_approach_024.npz
scratch/neaspec/step_approach_025.npz
scratch/neaspec/step_approach_026.npz
scratch/neaspec/step_approach_027.npz
scratch/neaspec/step_approach_028.npz
scratch/neaspec/step_approach_029.npz
scratch/neaspec/step_approach_030.npz
scratch/neaspec/step_approach_031.npz
scratch/neaspec/step_approach_032.npz
scratch/neaspec/step_approach_033.npz
scratch/neaspec/step_approach_034.npz
scratch/neaspec/step_approach_035.npz
scratch/neaspec/step_approach_036.npz
scratch/neaspec/step_approach_037.npz
scratch/neaspec/step_approach_038.npz
scratch/neaspec/step_approach_039.npz
scratch/neaspec/step_approach_040.npz
scratch/neaspec/step_approach_041.npz
scratch/neaspec/step_approach_042.npz
scratch/neaspec/step_approach_043.npz
scratch/neaspec/step_approach_044.npz
scratch/neaspec/step_approach_045.npz
scratch/neaspec/step_approach_046.npz
scratch/neaspec/step_approach_047.npz
scratch/neaspec/step_approach_048.npz
scratch/neaspec/step_approach_049.npz
scratch/neaspec/step_approach_050.npz
scratch/neaspec/step_approach_051.npz
scratch/neaspec/step_approach_052.npz
scratch/neaspec/step_approach_053.npz
scratch/neaspec/step_approach_054.npz
scratch/neaspec/step_approach_055.npz
scratch/neaspec/step_approach_056.npz
scratch/neaspec/step_approach_057.npz
scratch/neaspec/step_approach_058.npz
scratch/neaspec/step_approach_059.npz
scratch/neaspec/step_approach_060.npz
scratch/neaspec/step_approach_061.npz
scratch/neaspec/step_approach_062.npz
scratch/neaspec/step_approach_063.npz
scratch/neaspec/step_approach_064.npz
scratch/neaspec/step_approach_065.npz
scratch/neaspec/step_approach_066.npz
scratch/neaspec/step_approach_067.npz
scratch/neaspec/step_approach_068.npz
scratch/neaspec/step_approach_069.npz
scratch/neaspec/step_approach_070.npz
scratch/neaspec/step_approach_071.npz
scratch/neaspec/step_approach_072.npz
scratch/neaspec/step_approach_073.npz
scratch/neaspec/step_approach_074.npz
scratch/neaspec/step_approach_075.npz
scratch/neaspec/step_approach_076.npz
scratch/neaspec/step_approach_077.npz
scratch/neaspec/step_approach_078.npz
scratch/neaspec/step_approach_079.npz
scratch/neaspec/step_approach_080.npz
scratch/neaspec/step_approach_081.npz
scratch/neaspec/step_approach_082.npz
scratch/neaspec/step_approach_083.npz
scratch/neaspec/step_approach_084.npz
scratch/neaspec/step_approach_085.npz
scratch/neaspec/step_approach_086.npz
scratch/neaspec/step_approach_087.npz
scratch/neaspec/step_approach_088.npz
scratch/neaspec/step_approach_089.npz
scratch/neaspec/step_approach_090.npz
scratch/neaspec/step_approach_091.npz
scratch/neaspec/step_approach_092.npz
scratch/neaspec/step_approach_093.npz
scratch/neaspec/step_approach_094.npz
scratch/neaspec/step_approach_095.npz
scratch/neaspec/step_approach_096.npz
scratch/neaspec/step_approach_097.npz
scratch/neaspec/step_approach_098.npz
scratch/neaspec/step_approach_099.npz
scratch/neaspec/stepped_approach.npz
scratch/neaspec/stepped_approach.npz
scratch/neaspec/stepped_approach.npz
scratch/neaspec/stepped_approach.npz
scratch/neaspec/afm_tracking.txt
scratch/neaspec/stepped_approach.npz
scratch/neaspec/stepped_approach.npz
scratch/neaspec/stepped_approach.npz
