nidaqmx
matplotlib
numpy
scipy
pandas
tqdm
PySide2
pyqtgraph
attrs
bidict
toml
h5py
pytest  # should pytest go in the requirements? probably not...
pytest-benchmark  # same here
xarray
pyserial
gwyfile
lmfit
setuptools